    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Backend Development</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Python </h1>
        <h2>Django</h2>
        <h3>SQL</h3>

        <p >dolor <b>amet</b> consectetur <strong>adipisicing</strong> elit. Perspiciatis quaerat magnam accusantium dolores natus, nostrum harum laborum accusamus. Explicabo reprehenderit, facere distinctio quam <i>nobis vel voluptatem illum ipsa esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur neque labore voluptas eum, incidunt aliquam odit, velit omnis quis a excepturi rerum ipsa quibusdam quo ipsam accusamus provident! Eum, necessitatibus</i>
        </i> nobis vel voluptatem illum ipsa esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur neque labore voluptas eum, incidunt aliquam odit, velit omnis quis a excepturi rerum ipsa <b><small>quibusdam</b></small>quibusdam quo ipsam accusamus provident! Eum, necessitatibus Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut expedita adipisci exercitationem non, odit officiis. Aliquid, magnam eum. Totam eos vitae blanditiis non harum magni, porro illum doloribus cupiditate consectetur.lorem 

        <del>300    </del>
        <ins>299</ins> <br> <br>

        <abbr title =" BackEnd Development">Backend</abbr> 
    <p>(A+B)<sup>2</sup></p>
    <p>H<sub>2</sub>O</p>

    <p class="text">
    Future Business Icon!!!

    </p>

    <p id="text">
        This is Sabbir !!!
    </p>
    <p class="selector tproperty">Southeast University of Bangladesh</p>

    </p>


    <div>
        <pre>
            Welcome 

            To 


            Django 




        </pre>


    </div>

    <div  class="margin">
        <div class="padding">
            <p>Welcome to Digital Bangladesh</p>

        </div>
    </div>

    <ul style="list-style-type:square">
        <li>Python</li>
        <li>Django</li>
        <li>SQL</li>
    </ul>

    <ol style="list-style-type:upper-roman">
        <li>Python</li>
        <li>Django</li>
        <li>SQL</li>
    </ol>





        </p>

        <form action="">
            <input type="text" name="name" placeholder="Enter your name"> <br> <br>
            <input type="email" name="email" placeholder="Enter your email"> <br> <br>
            <input type="password" name="password" placeholder="Enter your password"> <br> <br>
            <label for="courses">Select courses:</label>
            <select name="courses" id="courses">
                <option value="python">Python</option>
                <option value="django">Django</option>
                <option value="sql">SQL</option>
            </select>
            <br> <br>
            <input type="submit" value="Submit">
        </form>

        <table width="50%" border="1">
            <tr>
                <th>Course Name</th>
                <th>Duration</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Python</td>
                <td>3 months</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Django</td>
                <td>4 months</td>
                <td>$400</td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>3 months</td>
                <td>$300</td>
            </tr> <br> <br>

        </table>



    </body>
    </html>